@import '../bourbon/_bourbon.scss';

.b-modal {
	background-color:#5e6e8d!important;
	cursor: default !important;
}

#dialog {
	display:none;
	width:90%;
	max-width: 400px;
	background: #FFF;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 0 20px rgba(#000, .2);
	color:#8f9cb5;
	
	.icon {
		font-size:60px;
		margin-bottom: 20px;
		
		.green {
			color:#3DAE3D;
		}
	}
	
	.message {
		padding: 3em 1em;
		margin-bottom:0px;
	}

	.dialog-buttons {
		@include clearfix;
		padding:0px;
		margin:0px;
		
		&[data-button-count="2"] {
			li { width: 50%; }
		}

		li {
			float: left;
			width: 100%;
			
			&:first-child {
				span { border-bottom-left-radius: 3px; }
			}
			&:last-child {
				span { border-bottom-right-radius: 3px; }
			}
			
			span {
				display: block;
				height: 60px;
				line-height: 60px;
				text-transform: uppercase;
				color: #FFF;
				cursor: pointer;
				background-color: #b6bece;
				&:hover { background-color: lighten(#b6bece, 1.5%); }
				
				&.positive {
					background-color: #64CA9F;
					&:hover { background-color: lighten(#64CA9F, 1.5%); }
				}
				&.negative {
					background-color: #fc7169;
					&:hover { background-color: lighten(#fc7169, 1.5%); }
				}
			}
		}
	}
	
	.dialog-close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		cursor: pointer;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 12px;
			width: 14px;
			height: 3px;
			background-color: #8f9cb5;
		}

		&::before {
			@include transform(rotate(45deg));
			left: 8px;
		}

		&::after {
			@include transform(rotate(-45deg));
			right: 8px;
		}
	}
}