@import '../bourbon/_bourbon.scss';

.home_page {

    .home-post-container {
        border: 3px solid #A1A1A1;
        border-radius: 3px;
        
        .post-content {
            padding: 10px;
            background-color: #fff;
            
            .post-img-placeholder {
                display:none;
                margin-bottom:10px;
                width:100%;

                img {
                    max-width:100%;
                    max-height:200px;
                }
            }
            
            .post-text-input {
                width:100%;
                min-width:100%;
                max-width:100%;
                max-height:300px;
                overflow-x: hidden;
                resize:none;
                padding:0;
                border:0;
                outline:none;
                // border:1px solid #919191;
                // border-radius:2px;
                border: 0px;
                background-color: #fff;
                background-color: transparent;
                padding:10px;
                font-size:14px;
                color:#797979;
                
                @include placeholder {
                    color:#ccc;
                }
            }
        }
        
        .post-actions {
            padding: 10px;
            background: #A1A1A1;
            position: relative;
            
            .post-button {
                position: absolute;
                @include position(absolute, 0 -3px -3px null);
                border: 0;
                box-shadow: none;
                border-radius: 0 0 3px 0;
                background-color: #1D8CC6;
                width: 90px;
                
                &:hover {
                    background-color: lighten(#1D8CC6, 4%);
                }
                &:active {
                    background-color: #1D8CC6;
                }
                &:hover, &:focus {
                    border: 0;
                }
            }
            
            .upload-file-controls, .upload-image-controls {
                display:inline-block;
            }
            
            .upload-file-controls {
                margin-bottom: -5px;
                
                button {
                    background-color: transparent;
                    color: #F9F9F9;
                    border: 0;
                    font-size: 18px;
                    
                    .icon {
                        vertical-align: middle;
                        text-shadow: none;
                    }
                }
            }

            .upload-image-controls {
                display:none;
            }
        }
    }
    
    .load-more-cntr {
        text-align:center;
        margin-top:20px;
        margin-bottom:20px;
    }   

    .empty-message {
        text-align:center;
        padding-top:80px;
        font-size:20px;
        color:#565656;
    }

}